# Binary produced out of `go build -o transit`
transit

# Local CLI config file (useful for symlinking to config dir while developing)
config.yml

# goreleaser compiled binaries go here
dist/

# vscode settings
.vscode

# Other artifacts
.DS_Store
